@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 173 58% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 25 95% 53%;
    --secondary-foreground: 0 0% 98%;
    --muted: 174 12% 95%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 174 77% 90%;
    --accent-foreground: 173 58% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 12% 89.8%;
    --input: 174 12% 89.8%;
    --ring: 173 58% 39%;
    --chart-1: 173 58% 39%;
    --chart-2: 25 95% 53%;
    --chart-3: 174 77% 56%;
    --chart-4: 35 91% 65%;
    --chart-5: 164 76% 32%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 3% 7%;
    --foreground: 0 0% 98%;
    --card: 180 3% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 180 3% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 174 77% 56%;
    --primary-foreground: 180 3% 7%;
    --secondary: 25 95% 53%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 3% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 3% 14.9%;
    --accent-foreground: 174 77% 56%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 3% 14.9%;
    --input: 180 3% 14.9%;
    --ring: 174 77% 56%;
    --chart-1: 174 77% 56%;
    --chart-2: 25 95% 53%;
    --chart-3: 164 76% 32%;
    --chart-4: 35 91% 65%;
    --chart-5: 173 58% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-br from-brand-600 to-orange-500;
  }
  .gradient-title {
    @apply gradient font-extrabold tracking-tighter pr-2 pb-2 text-transparent bg-clip-text;
  }
}

.hero-image-wrapper {
  perspective: 1000px;
}

.hero-image {
  /* transform: rotateX(20deg) scale(0.9) translateY(-50); */
  transform: rotateX(15deg) scale(1);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.hero-image.scrolled {
  transform: rotateX(0deg) scale(1) translateY(40px);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add this class */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}
